@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cheltenham';
    src: url('../assets/fonts/Ichlthmn.ttf');
    font-family: 'Imperial';
    src: url('../assets/fonts/Imperial.ttf');
    font-family: 'Karnak';
    src: url('../assets/fonts/Karnak.ttf');
    font-family: 'Franklin';
    src: url('../assets/fonts/Franklin.ttf');
    font-family: 'Chomsky';
    src: url('../assets/fonts/Chomsky.otf');
}